In [23]:
import pandas as pd

data = pd.read_csv('BSE.csv')
data.head()

,instrument_key,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,option_type,exchange
0,BSE_INDEX|INDSTR,41,NaN,INDSTR,12929.81,NaN,NaN,NaN,NaN,INDEX,NaN,BSE_INDEX
1,BSE_INDEX|ALLCAP,36,NaN,ALLCAP,9359.50,NaN,NaN,NaN,NaN,INDEX,NaN,BSE_INDEX
2,BSE_INDEX|SMLCAP,31,NaN,SMLCAP,45450.47,NaN,NaN,NaN,NaN,INDEX,NaN,BSE_INDEX
3,BSE_INDEX|BSEFMC,32,NaN,BSEFMC,19023.16,NaN,NaN,NaN,NaN,INDEX,NaN,BSE_INDEX
4,BSE_INDEX|REALTY,21,NaN,REALTY,7336.58,NaN,NaN,NaN,NaN,INDEX,NaN,BSE_INDEX

In [25]:
def create_df(data):
    rows = []
    for i in data:
        rows.append([i['instrument'], i['name'], i['symbol'], i['price']])
    
    df = pd.DataFrame(rows, columns=['instrument', 'name','symbol', 'price'])
    return df



items = []
max_price = 15
for index, row in data.iterrows():
    instrument = row['instrument_key']
    price = row['last_price']
    symbol = row['tradingsymbol']
    name = row['name']
    if price>0 and price<max_price:
        newRow = {"instrument":instrument, "price":price, "symbol":symbol,"name":name}
        items.append(newRow)
        
stockdf = create_df(items)
stockdf.head(10)

            instrument                          name      symbol  price
0  BSE_EQ|INE744C01029          NORRIS MEDICINES LTD      NORRIS  12.19
1  BSE_EQ|INE810M01019  ASIAN PETROPRODUCTS  EXPORTS     ASINPET  14.90
2  BSE_EQ|INE313M01030       EVEXIA LIFECARE LIMITED      EVEXIA   2.58
3  BSE_EQ|INE319N01019         INDO EURO INDCHEM LTD    INDOEURO  11.71
4  BSE_EQ|INE312C01025  SYNCOM FORMULATIONS INDIA LT     SYNCOMF  13.53
5  BSE_EQ|INE038B01010        SVC INDUSTRIES LIMITED      SVCIND   3.69
6  BSE_EQ|INE270D01015           REVATI ORGANICS LTD     REVAORG   2.75
7  BSE_EQ|INE052E01015       GAYATRI BIOORGANICS LTD   GAYATRIBI   5.37
8  BSE_EQ|INE686C01014                     PRIYA LTD     PRIYALT  12.60
9  BSE_EQ|INE422G01015          HEMO ORGANIC LIMITED  HEMORGANIC  10.60